<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Vinayak Finmart Pvt. Ltd.</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon"> -->

    <!-- CSS here -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/bootstrap.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/elegant-icons.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/all.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/animate.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/nice-select.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/slick.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/slick-theme.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/default.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/responsive.css"
      media="all"
    />
  </head>

  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="ctn-preloader" class="ctn-preloader">
        <div class="round_spinner">
          <div class="spinner"></div>
          <div class="text">
            <img src="img/Vinayak/9.jpg" height="100px" alt="" />
          </div>
        </div>
        <h2 class="head">Did You Know?</h2>
        <p></p>
      </div>
    </div>
    <!-- Header -->
    <header class="header">
      <div class="header-top py-2">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5">
              <div class="header-info-left">
                <!-- <div class="language-list">
                <select name="page-language-list" id="select-lang">
                  <option value="English">English</option>
                  <option value="Hindi">Hindi</option>
                </select>
              </div> -->

                <div class="timestamp ms-4">
                  <i class="icon_clock_alt"></i> Mon - Fri 10:00-18:00
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="header-info-right">
                <ul>
                  <li>
                    <img
                      class="img-fluid"
                      src="img/phone-outline-white.png"
                      alt="Phone-Image"
                    /><a href="tel:+91-9815353035">+91-9815353035</a>
                  </li>

                  <li>
                    <i class="icon_mail_alt"></i
                    ><a href="mailto:info@vinayakfinmart.com"
                      >info@vinayakfinmart.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-menu header-menu-2 bg_white" id="sticky">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="/">
              <img id="navbar-logo" height="100px" alt="Vinayak-Image" />
            </a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="menu_toggle">
                <span class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                <span class="hamburger-cross">
                  <span></span>
                  <span></span>
                </span>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav menu ms-auto">
                <li class="nav-item dropdown submenu">
                  <a
                    href="/"
                    class="nav-link dropdown-toggle"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Home</a
                  >
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/about"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    About Us
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/loan"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Loan
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/job-post"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Jobs
                  </a>
                </li>

                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle active"
                    href="/contact"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Contact Us
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/blog"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Blog
                  </a>
                </li>
              </ul>
              <!-- dashboard button -->
              <% if (user && user?.isAdmin) { %>
              <a class="theme-btn theme-btn-outlined" href="/admin">
                Dashboard
              </a>
              <% } else if (user && !user?.isAdmin){ %>
              <a class="theme-btn theme-btn-outlined" href="/user">
                Dashboard
              </a>
              <% } else{ %>
              <a class="theme-btn theme-btn-outlined" href="/login">
                Dashboard
              </a>
              <% } %>

              <li class="nav-item dropdown submenu">
                <div class="px-2 js-darkmode-btn" title="Toggle dark mode">
                  <label for="something" class="tab-btn tab-btns">
                    <ion-icon name="moon"></ion-icon>
                  </label>
                  <label for="something" class="tab-btn">
                    <ion-icon name="sunny"></ion-icon>
                  </label>
                  <label class="ball" for="something"></label>
                  <input
                    type="checkbox"
                    name="something"
                    id="something"
                    class="dark_mode_switcher"
                  />
                </div>
              </li>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header end-->
    <main>
      <!-- BreadCrumb start -->
      <section class="breadcrumb-area">
        <div
          class="breadcrumb-widget breadcrumb-widget-3 pt-200 pb-200"
          style="
            background-image: url(https://media.istockphoto.com/id/1416335096/photo/businessman-hand-holding-smart-phone-with-icon-mobile-phone-mail-telephone-and-address.jpg?s=612x612&w=0&k=20&c=ajOYHJPqlaKZ04BeSf5m3MsuZ_YGyxrUqEGMaS1hGGk=);
          "
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <div class="breadcrumb-content pt-100">
                  <h1>We're here to help.</h1>
                  <ul>
                    <li><a href="index.html">home</a></li>
                    <li>Contact Us</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- BreadCrumb end -->

      <!-- Get In Touch start -->
      <section class="pt-140 pb-140 get-touch-area bg_white">
        <div class="container">
          <div class="row gy-4 gy-lg-0">
            <div class="col-lg-5">
              <div class="section-title text-start">
                <h2>Get in touch with us.</h2>
                <p>
                  Want to get in touch? We'd love to hear from you. Here's how
                  you can reach us...
                </p>
              </div>
              <div class="row mt-55">
                <div class="col-sm-6">
                  <div class="get-touch-box">
                    <div class="icon">
                      <img src="img/contact/call-outline.png" alt="call icon" />
                    </div>
                    <div>
                      <p>Call the helpline:</p>
                      <span>+91-98153-53035</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="get-touch-box">
                    <div class="icon">
                      <img
                        src="img/contact/mail-open-outline.png"
                        alt="mail icon"
                      />
                    </div>
                    <div>
                      <p>Email us:</p>
                      <span>contact@vinayakfinmart.com</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="get-touch-box mt-30">
                    <div class="icon">
                      <i class="icon_pin_alt"></i>
                    </div>
                    <div>
                      <p>Location</p>
                      <span
                        >Office No. 4, IST Floor 2716, Gurudev Nagar, Gagan
                        Complex, Ludhiana Ludhiana PB 141001 IN</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="get-touch-box mt-30">
                    <div class="icon">
                      <i class="icon_clock_alt"></i>
                    </div>
                    <div>
                      <p>Work Hours</p>
                      <span
                        >Monday - Saturday: 9am - 7pm Sunday: 12am — 6pm</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
              <div class="contact-form-widget border p-3 rounded-3">
                <form
                  action="/contact"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <label for="f-name">Full Name</label>
                      <input
                        type="text"
                        id="f-name"
                        name="fullname"
                        class="form-control"
                        placeholder="What's your name?"
                        required
                      />
                    </div>
                    <div class="col-md-6 mt-20 mt-md-0">
                      <label for="email-address">Email</label>
                      <input
                        type="email"
                        id="email-address"
                        name="email"
                        class="form-control"
                        placeholder="yourname@example.com"
                        required
                      />
                    </div>
                    <div class="col-md-6 mt-20">
                      <label for="form-sub">Subject</label>
                      <input
                        type="text"
                        id="form-sub"
                        name="subject"
                        class="form-control"
                        placeholder="Your subject"
                        required
                      />
                    </div>
                    <div class="col-md-6 mt-20">
                      <label for="form-sub">Phone</label>
                      <input
                        type="tel"
                        maxlength="10"
                        id="form-sub"
                        name="phone"
                        class="form-control"
                        placeholder="Your phone"
                        required
                      />
                    </div>
                    <div class="col-md-12 mt-20">
                      <label for="form-text">Messages</label>
                      <textarea
                        cols="30"
                        rows="5"
                        name="message"
                        id="form-text"
                        maxlength="500"
                        class="form-control pt-15"
                        placeholder="Your message...... (500 Character Max)"
                        required
                      ></textarea>
                    </div>
                    <div class="col-12 mt-3">
                      <p class="policy-text">
                        By submitting this form you consent to us emailing you
                        occasionally about our products and services. You can
                        unsubscribe from emails at any time, and we will never
                        pass your email onto third parties. Privacy Policy
                      </p>
                    </div>
                    <div class="col-12 mt-35">
                      <button
                        type="submit"
                        class="theme-btn theme-btn-lg w-100"
                      >
                        Submit Now
                      </button>
                    </div>
                  </div>
                </form>
                <div id="form-message" class="text-success"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Get In Touch end -->

      <!-- need more help start -->
      <section class="pt-125 pb-140 bg_disable">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <div class="section-title">
                <h2 class="wow fadeInUp">Need more help?</h2>
                <p class="wow fadeInUp" data-wow-delay="0.3s">
                  <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor. -->
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-60 gy-lg-0 gy-4 justify-content-center">
            <!-- <div class="col-lg-4">
            <div class="feature-card-widget-4 wow fadeInUp" data-wow-delay="0.1s">
              <img src="img/contact/help-icon-1.svg" alt="icon" />
              <h5 class="mt-4 mb-10">Articles & Guides</h5>
              <p>
                100+ articles to get the information you need when you need
                it.
              </p>
              <a href="/blog" class="theme-btn theme-btn-outlined mt-30">Visit Knowledge Base</a>
            </div>
          </div> -->
            <div class="col-lg-4">
              <div
                class="feature-card-widget-4 wow fadeInUp"
                data-wow-delay="0.3s"
              >
                <img src="img/contact/help-icon-2.svg" alt="icon" />
                <h5 class="mt-4 mb-10">Technical Support</h5>
                <p>
                  If you ever need help, you can chat directly with our support
                  team!
                </p>

                <a
                  href="https://wa.me/9815353035/?text=Say Hello"
                  target="_blank"
                  class="theme-btn theme-btn-outlined mt-30"
                  >Chat With Support</a
                >
              </div>
            </div>
            <div class="col-lg-4">
              <div
                class="feature-card-widget-4 wow fadeInUp"
                data-wow-delay="0.5s"
              >
                <img src="img/contact/help-icon-3.svg" alt="icon" />
                <h5 class="mt-4 mb-10">Social Media Support</h5>
                <p>
                  You can easily connect with us on social media for faster
                  response.
                </p>
                <div class="social-button mt-35 mb-10">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- need more help end -->

      <!-- Frequently Asked Question start -->
      <section class="faq-area-2 pt-125 pb-200 bg_white">
        <div class="container">
          <div class="section-title">
            <h2 class="wow fadeInUp">Frequently asked questions</h2>
          </div>
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <div class="faq-widget">
                <div class="accordion" id="accordionExample">
                  <% frequently.forEach(element=> { %>

                  <div
                    class="single-widget-one wow fadeInUp px-sm-5 px-4"
                    data-wow-delay="0.1s"
                  >
                    <div class="widget-icon">
                      <i class="icon_question_alt2"></i>
                    </div>
                    <div class="w-100">
                      <div class="faq-header" id="headingOne">
                        <h4
                          class="mb-0"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          <%= element.question %><i class="icon_plus"></i
                          ><i class="icon_minus-06"></i>
                        </h4>
                      </div>
                      <div
                        id="collapseOne"
                        class="collapse show"
                        aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="faq-body pr-lg-130">
                          <p><%= element.answer %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Frequently Asked Question end -->

      <!-- Call To Action start -->
      <section class="cta-area pt-60 bg_white">
        <div class="container">
          <div class="row">
            <div class="col-md-12 position-relative">
              <div
                class="cta cta-bg-violet"
                style="background-image: url(img/cta/wave.png)"
              >
                <div class="row align-items-center">
                  <div class="col-lg-7">
                    <div
                      class="cta-content wow fadeInRight text-center text-lg-start"
                    >
                      <h2 class="mb-0">
                        Meet Vinayak Finmart, the financial partner you can bank
                        on.
                      </h2>
                    </div>
                  </div>

                  <div class="col-lg-5 mt-4 mt-lg-0 text-center">
                    <div class="cta-content text-center text-lg-end">
                      <a
                        href="/loan"
                        class="theme-btn theme-btn-alt wow fadeInLeft cta-text-violet"
                        >Apply For Loan</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Call To Action end -->
    </main>

    <!-- footer -->

    <footer class="footer footer-3">
      <div class="footer-top pt-100 pb-lg-115 pb-120">
        <div class="container">
          <div class="row gx-0 pt-60">
            <!-- left section -->
            <div class="col-lg-4 col-sm-6 text-center text-sm-start ms-0">
              <div class="footer-widget wow fadeInLeft mb-30">
                <div class="footer-text mb-20">
                  <p>
                    Vinayak Finmart Embarking on a journey to shape futures. Our
                    legacy fuels dreams. Your trusted partner in financial
                    growth and success.
                  </p>
                </div>

                <span class="overline">Disbursed</span>

                <div class="footer-bold">
                  <span class="counter">&#8377;<span>3000</span> </span>
                  <span class="counter">Cr</span>
                </div>
                <p class="time">2021-01-05 14:00 (INTERNATIONAL TIME)</p>
              </div>
            </div>
            <!-- center section  -->
            <div
              class="col-lg-3 col-sm-6 text-center text-sm-start me-0 ms-lg-5"
            >
              <div
                class="footer-widget mb-30 wow fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="f-widget-title">
                  <h4>Vinayak Finmart at a Glance</h4>
                </div>
                <div class="footer-link">
                  <ul>
                    <li><a href="about.html"> About Us </a></li>
                    <li><a href="contact.html"> Contact Us</a></li>
                    <li><a href="job-post.html"> Jobs</a></li>
                    <li><a href="blog.html"> Our Blogs</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- feedback form -->
          </div>
        </div>
      </div>
      <!-- copyright area -->
      <div class="copyright pt-25 pb-25">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-3 text-center text-lg-start">
              <a href="/" class="p-0 m-0"
                ><img src="img/Vinayak/17.png" height="100px" alt="logo"
              /></a>
            </div>
            <div class="col-lg-6 text-center my-3 my-sm-0">
              <div class="copyright-text">
                <div class="d-flex gap-3 align-items-center">
                  <div>Copyright &copy; 2023</div>
                  <div class="border" style="height: 25px"></div>
                  <div>Vinayak Finmart Pvt. Ltd</div>
                  <div class="border" style="height: 25px"></div>
                  <div><a href="/privacy-policy">Privacy Terms of Use</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 text-center text-lg-end">
              <div class="social-button">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-twitter-x"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"
                    />
                  </svg>
                </a>
                <a
                  href="https://instagram.com/vinayakfinmart?igshid=NzZlODBkYWE4Ng=="
                  ><i class="fab fa-instagram"></i
                ></a>

                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top"></a>

    <!-- JS here -->
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/preloader.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="/js/jquery.smoothscroll.min.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
