<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Vinayak Finmart Pvt. Ltd.</title>
  <!-- <link rel="shortcut icon" href="#" type="image/x-icon"> -->

  <!-- CSS here -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/elegant-icons.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/all.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/animate.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/nice-select.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/slick.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" media="all" />
</head>

<body class="login" style="background-color: white !important">
  <div class="container">
    <div class="logo">
      <div class="bg" style="background: black; border-radius: 9999px"></div>
      <div class="content">
        <div class="d-flex flex-column justify-content-center align-items-center gap-3">
          <h2><a href="/" class="text-light">Vinayak Finmart</a></h2>
          <a href="/register" style="
                width: 150px;
                height: 50px;
                border-radius: 100px;
                border: 3px white solid;
              " class="d-flex justify-content-center align-items-center">
            <div style="
                  color: white;
                  font-size: 18px;
                  font-family: Helvetica;
                  font-weight: 400;
                  word-wrap: break-word;
                ">
              Sign-up
            </div>
          </a>
          <a href="/login" style="
                width: 150px;
                height: 50px;
                border-radius: 100px;
                border: 3px white solid;
              " class="d-flex justify-content-center align-items-center">
            <div style="
                  color: white;
                  font-size: 18px;
                  font-family: Helvetica;
                  font-weight: 400;
                  word-wrap: break-word;
                ">
              Login
            </div>
          </a>
        </div>
        <div class="img">
          <img src="/img/login/login_person.png" alt="person_image" />
        </div>
      </div>
    </div>
    <div class="login-form d-flex justify-content-center">
      <a href="/" class="d-sm-none" style="height: 150px;width: 150px;">
        <img style="height: 100%;width: 100%;object-fit: cover;" src="img/Vinayak/7.png" alt="">
      </a>
      <form action="/forget-password" method="post"
        class="text-center d-flex flex-column gap-3 h-min justify-content-center">
        <div style="
          color: black;
          font-size: 36px;
          font-family: Helvetica;
          font-weight: 500;
          word-wrap: break-word;
            ">

          Forget Password
        </div>

        <input placeholder="Email/Phone Number" class="text-center border-0" name="username" type="text" required style="
              width: 360px;
              height: 50px;
              background: rgba(0, 0, 0, 0.2);
              border-radius: 100px;
            " />

        <button type="submit" class="mx-auto" style="
              width: 150px;
              height: 50px;
              background: black;
              border-radius: 100px;
            ">
          <div style="
                color: white;
                font-size: 18px;
                font-family: Helvetica;
                font-weight: 700;
                word-wrap: break-word;
              ">
            Submit
          </div>
        </button>
      </form>

    </div>
  </div>
  <!-- JS here -->
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/preloader.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.smoothscroll.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/slick.min.js"></script>
  <script src="/js/parallax.js"></script>
  <script src="/js/jquery.parallax-scroll.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>