<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Vinayak Finmart Pvt. Ltd.</title>
  <!-- <link rel="shortcut icon" href="#" type="image/x-icon"> -->

  <!-- CSS here -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/elegant-icons.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/all.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/animate.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/nice-select.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/slick.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" media="all" />
</head>

<body class="register">
  <div class="container">
    <div class="form-container" id="login-form">
      <div class="logo">
        <a class="navbar-brand sticky_logo" href="/">
          <img class="sticky" src="img/Vinayak/7.png" height="130px" srcset="img/Vinayak/7.png 2x" alt="logo" />
        </a>
      </div>
      <form method="post" action="/register">
        <div class="name">
          <input type="text" id="firstname" placeholder=" First Name" name="firstname" required />
          <input type="text" id="lastname" placeholder=" Last Name" name="lastname" required />
        </div>
        <div class="email">
          <input type="text" id="email" placeholder="Email" name="email" required />
        </div>
        <div class="number">
          <input type="text" id="number" placeholder="Phone Number" name="number" required />
        </div>
        <div class="password">
          <input type="password" id="password" placeholder="Password" name="password" required />
        </div>
        <div class="password">
          <input type="password" id="confirm-password" placeholder="Confirm Password" name="confirm-password"
            required />
        </div>

        <button type="submit">Register</button>
      </form>
      <p>
        Don't have an account?
        <a href="/login" id="signup-link">Login</a>
      </p>
    </div>
  </div>
  <!-- JS here -->
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/preloader.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.smoothscroll.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/slick.min.js"></script>
  <script src="/js/parallax.js"></script>
  <script src="/js/jquery.parallax-scroll.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>