/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.admin .sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
    overflow-y: scroll;
}

.admin .sidebar.active {
    width: 60px;
}

.admin .sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.admin .sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.admin .sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.admin .sidebar .nav-links {
    margin-top: 10px;
}

.admin .sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.admin .sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sidebar .nav-links .log_out button{
    margin: 0px auto;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

@media (max-width: 986px) {
    .home-section {
        /* position: relative; */
        background: #f5f5f5;
        min-height: 100vh;
        width: 100%;
        transition: all 0.5s ease;
    }
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section nav .profile-details {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;

}


nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
    font-size: large;
    font-weight: bold;
    color: gray;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}

@media (max-width: 786px) {
    .home-section .profile-details {
        display: none !important;
    }

}

@media (min-width: 786px) {
    .home-section .navbar-btn {
        display: none !important;
    }

}


.home-section .home-content {
    position: relative;
    padding-top: 104px;
    height: 100%;

}

.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}

.overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
}

.home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}

.home-content .box .indicator {
    display: flex;
    align-items: center;
}

.home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.box .indicator i.down {
    background: #e87d88;
}

.home-content .box .indicator .text {
    font-size: 12px;
}

.home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
    color: #2BD47D;
    background: #C0F2D8;
}

.home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
}

.home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
}

.home-content .total-order {
    font-size: 20px;
    font-weight: 500;
}

.home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
    width: 100%;

    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

/* Home page table css start  */


/* Home page table css end  */








.home-content .sales-boxes .sales-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sales-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
    font-size: 20px;
    font-weight: 500;
}

.sales-boxes .sales-details li {
    list-style: none;
    margin: 8px 0;
}

.sales-boxes .sales-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
}

.sales-boxes .box .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sales-boxes .box .button a {
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sales-boxes .box .button a:hover {
    background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sales-boxes .top-sales li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.sales-boxes .top-sales li a img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
}

.sales-boxes .top-sales li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sales-boxes .top-sales li .product,
.price {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}



@media (max-width: 1150px) {
    .home-content .sales-boxes {
        flex-direction: column;
    }

    .home-content .sales-boxes .box {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }

    .home-content .sales-boxes .top-sales {
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}

@media (max-width: 796px) {

    nav .sidebar-button .dashboard,
    nav .profile-details {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }

    .home-content .sales-boxes .sales-details {
        width: 560px;
    }
}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }
}

/* @media (max-width: 400px) {
    .sidebar {
        width: 0;
    }

    .sidebar.active {
        width: 60px;
    }

    .home-section {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }

    .home-section nav {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
} */

@media(max-width:986px) {
    .sidebar {
        display: none !important;
    }
}


/* dashboard Content Section */
/* Hide all content sections by default */
.content-section {
    display: none;
}

/* Style for active content section */
.content-section.active {
    display: block;
}

/* dashboard css  */
#gridContainer {
    height: 440px;
}

.employee {
    color: green;
}

.options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}

.option>span {
    margin-right: 10px;
}

.option>.dx-selectbox {
    display: inline-block;
    vertical-align: middle;
}

/* Notication section css start */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

#notification #title {
    background-color: yellow;
    font-family: 'Quicksand', serif;
    text-align: center;
    padding: 20px;
}

#notification #description {
    text-align: center;
    font-family: 'Quicksand', serif;
}

#notification #grid-dt-api {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-template-areas:
        "desc-dt-api dt-api dt-api"
}

#notification #description-dt-api {
    grid-area: desc-dt-api;
    text-align: center;
    font-family: 'Quicksand', serif;
    display: flex;
    align-items: center;
}

#notification #dt-api {
    grid-area: dt-api;
    margin: 2px;
}

/*======================*/
#notification #grid-dt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "dt dt description-dt"
}

#notification #dt {
    grid-area: dt;
    margin: 2px;
}

#notification #description-dt {
    grid-area: description-dt;
    font-family: 'Quicksand', serif;
    text-align: center;
    display: flex;
    align-items: center;
}


.notification-form-widget{
    margin: 1.5rem auto ;
    border: 1px solid lightgray ;
    border-radius: 10px;
    padding: 25px;
}

.notification-form-widget label {
    font-size: 16px;
    color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}

.notification-form-widget .form-control {
    background-color: transparent;
    height: 45px;
    color: #9199a1;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid var(--black_50);
    padding-right: 20px;
    padding-left: 20px;
}

.notification-form-widget .form-control::placeholder {
    color: #9199a1;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.notification-form-widget .form-control:focus {
    border-color: var(--brand_color);
    box-shadow: none;
}

.notification-form-widget textarea.form-control {
    height: inherit;
}

.notification-form-widget .policy-text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--p_color);
    line-height: 22px;
}

/* Notification css end  */

/* Job section css end  */
/* job section css start  */
.job-form-widget{
    margin: 1.5rem auto ;
    border: 1px solid lightgray ;
    border-radius: 10px;
    padding: 25px;
}

.job-form-widget label {
    font-size: 16px;
    color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}

.job-form-widget .form-control {
    background-color: transparent;
    height: 45px;
    color: #9199a1;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid var(--black_50);
    padding-right: 20px;
    padding-left: 20px;
}

.job-form-widget .form-control::placeholder {
    color: #9199a1;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.job-form-widget .form-control:focus {
    border-color: var(--brand_color);
    box-shadow: none;
}

.job-form-widget textarea.form-control {
    height: inherit;
}

.job-form-widget .policy-text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--p_color);
    line-height: 22px;
}



/* Job section css end  */

/* blog section start  */

/* blog form  Admin  */

.blog-form-widget{
    margin: 1.5rem auto ;
    border: 1px solid lightgray ;
    border-radius: 10px;
    padding: 25px;
}




.blog-form-widget label {
    font-size: 16px;
    color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}

.blog-form-widget .form-control {
    background-color: transparent;
    height: 45px;
    color: #9199a1;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid var(--black_50);
    padding-right: 20px;
    padding-left: 20px;
}

.blog-form-widget .form-control::placeholder {
    color: #9199a1;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.blog-form-widget .form-control:focus {
    border-color: var(--brand_color);
    box-shadow: none;
}

.blog-form-widget textarea.form-control {
    height: inherit;
}

.blog-form-widget .policy-text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--p_color);
    line-height: 22px;
}

.blog-form-widget .blog-img-uploader {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog .blog-picture__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Faqs form  Admin  */

.faqs-form-widget{
    margin: 1.5rem auto ;
    border: 1px solid lightgray ;
    border-radius: 10px;
    padding: 25px;
}




.faqs-form-widget label {
    font-size: 16px;
    color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}

.faqs-form-widget .form-control {
    background-color: transparent;
    height: 45px;
    color: #9199a1;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid var(--black_50);
    padding-right: 20px;
    padding-left: 20px;
}

.faqs-form-widget .form-control::placeholder {
    color: #9199a1;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.faqs-form-widget .form-control:focus {
    border-color: var(--brand_color);
    box-shadow: none;
}

.faqs-form-widget textarea.form-control {
    height: inherit;
}

.faqs-form-widget .policy-text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--p_color);
    line-height: 22px;
}





/* blog section end  */


/* button css  */

.admin .frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
.admin .frame button {
  margin: 20px;
}
.admin .frame .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 1 */
.admin .frame .btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}
.admin .frame .btn-1:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.userDetail .personaldetail {
    display: none;
}


.userDetail #documentDetail img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.userDetail #documentDetail img:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.userDetail #documentDetail #image-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.userDetail #documentDetail .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.userDetail #documentDetail .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.userDetail #documentDetail #image-viewer .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.userDetail #documentDetail #image-viewer .close:hover,
.userDetail #documentDetail #image-viewer .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .userDetail #documentDetail .modal-content {
        width: 100%;
    }
}


/* CSS for the modal */
.modal-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* CSS for the close button */
.close-message {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}