/**************************  User  Css  **********************************/

@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

.user .header{
    font-family: 'Poppins', sans-serif;    
}

/************************** user Explore css ****************************** */
/*   Loan Details Widget CSS
/*----------------------------------------*/
.user-loan-details {
    padding: 50px 53px;
    box-shadow: var(--theme-dropshadow);
    border-radius: 10px;
    padding-bottom: 100px;
    background: var(--bs-white);
    height: 100%;
}

.user-loan-details .select-loan-type-radio {
    display: none;
}

.user-loan-details .select-loan-type-radio:checked~.loan-type {
    background-color: var(--brand_color);
    cursor: pointer;
}

.user-loan-details .select-loan-type-radio:checked~.loan-type span {
    color: #fff;
}

.user-loan-details .select-loan-type-radio:checked~.loan-type img {
    display: none;
}

.user-loan-details .select-loan-type-radio:checked~.loan-type img+img {
    display: inline-block;
}

.user-loan-details .loan-type {
    background-color: rgba(0, 80, 178, 0.05);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease-out;
    display: block;
}

.user-loan-details .loan-type:hover {
    background-color: var(--brand_color);
    cursor: pointer;
}

.user-loan-details .loan-type:hover span {
    color: #fff;
}

.user-loan-details .loan-type:hover img {
    display: none;
}

.user-loan-details .loan-type:hover img+img {
    display: inline-block;
}

.user-loan-details .loan-type span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--secondary_color);
    font-size: 16px;
    margin-top: 14px;
    text-transform: capitalize;
}

.user-loan-details .loan-type img+img {
    display: none;
}

.user-loan-details .label {
    font-size: 16px;
    color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}

.user-loan-details .form-check .form-check-label {
    color: #9199a1;
}

.user-loan-details .form-check .form-check-input:checked[type='radio']~.form-check-label {
    color: #6a737c;
}

.user-loan-details .form-control {
    border-color: #dcdee0;
    height: 45px;
    color: #9199a1;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.user-loan-details .form-control::placeholder {
    color: #9199a1;
}

.user-loan-details .form-control:focus {
    border-color: var(--brand_color);
    box-shadow: none;
}

.user-loan-details .input-field {
    position: relative;
}

.user-loan-details .input-field span {
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #a8a8b2;
}

.user-loan-details .input-field .form-control {
    padding-left: 30px;
}

.user-loan-details .iti {
    width: 100%;
}

.user-loan-details .nice-select {
    height: 45px;
    border-color: #dcdee0;
    display: inline-block;
    float: inherit;
}

.user-loan-details .nice-select:focus {
    border-color: var(--brand_color);
}

.user-loan-details .nice-select .current {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #9199a1;
}

.user-loan-details .nice-select .list {
    width: 100%;
}

.user-loan-details .dob .nice-select {
    margin-right: 0.9375rem;
    width: 100%;
}

.user-loan-details .dob .nice-select .list {
    max-height: 21.875rem;
    overflow-y: scroll;
    scrollbar-color: rgba(222, 222, 222, 0.9058823529) rgba(241, 241, 241, 0.8549019608);
    scrollbar-width: thin;
    /* Track */
    /* Handle */
}

.user-loan-details .dob .nice-select .list::-webkit-scrollbar {
    width: 4px;
}

.user-loan-details .dob .nice-select .list::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.8549019608);
}

.user-loan-details .dob .nice-select .list::-webkit-scrollbar-thumb {
    background: rgba(222, 222, 222, 0.9058823529);
    border-radius: 5px;
}

.user-loan-details .nav-btn a,
.user-loan-details .nav-btn button {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--p_color);
}

.user-loan-details .nav-btn a i,
.user-loan-details .nav-btn button i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 2px;
}

.user-loan-details .nav-btn a.prev-btn i,
.user-loan-details .nav-btn button.prev-btn i {
    margin-right: 5px;
    margin-left: 0px;
}

.user-loan-details .doc-info {
    display: flex;
}

.user-loan-details .doc-info span {
    display: inline-block;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--secondary_color);
    margin-right: 0.9375rem;
}

.user-loan-details .doc-info p {
    display: inline-block;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--p_color);
}



.user-loan-calculator {
    padding: 50px 53px;
    box-shadow: var(--theme-dropshadow);
    border-radius: 10px;
    padding-bottom: 100px;
    background: var(--bs-white);
    /* margin: 6.25rem 0px; */
}


/* Logout button section  */

.user .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.user .frame button {
    margin: 20px;
}

.user .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 1 */
.user .btn-1 {
    background: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    border: none;
}

.user .btn-1:hover {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}